body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
/* #combodefault .col-lg-9 {
  min-height: 250px;
}
#default {
  margin: 0 auto;
  width: 250px !important;
  padding-top: 15px;
}
#filter-property .property-panel-content {
  padding: 10px;
} */
